<aside class="floating-contact" data-floating-contact>
  <div class="floating-contact__menu" id="floating-contact-menu" data-floating-contact-menu aria-label="Các kênh liên hệ" aria-hidden="true">
    <a class="floating-contact__item" href="https://zalo.me/0374432221" target="_blank" rel="noopener noreferrer" tabindex="-1" aria-label="Liên hệ RELOAD qua Zalo">
      <span class="floating-contact__icon" aria-hidden="true"><i class="fa-solid fa-comment-dots"></i></span>
    </a>
    <a class="floating-contact__item" href="https://www.facebook.com/profile.php?id=100078970451357&amp;locale=vi_VN" target="_blank" rel="noopener noreferrer" tabindex="-1" aria-label="Liên hệ RELOAD qua Facebook">
      <span class="floating-contact__icon" aria-hidden="true"><i class="fa-brands fa-facebook-f"></i></span>
    </a>
    <a class="floating-contact__item" href="https://www.tiktok.com/@reloadgymforwomen?lang=vi-VN" target="_blank" rel="noopener noreferrer" tabindex="-1" aria-label="Liên hệ RELOAD qua TikTok">
      <span class="floating-contact__icon" aria-hidden="true"><i class="fa-brands fa-tiktok"></i></span>
    </a>
    <a class="floating-contact__item" href="tel:0374432221" tabindex="-1" aria-label="Gọi RELOAD theo số 037 443 2221">
      <span class="floating-contact__icon" aria-hidden="true"><i class="fa-solid fa-phone"></i></span>
    </a>
  </div>
  <button class="floating-contact__toggle" type="button" data-floating-contact-toggle aria-label="Mở menu liên hệ" aria-expanded="false" aria-controls="floating-contact-menu">
    <i class="fa-solid fa-comments floating-contact__toggle-icon floating-contact__toggle-icon--chat" aria-hidden="true"></i>
    <i class="fa-solid fa-xmark floating-contact__toggle-icon floating-contact__toggle-icon--close" aria-hidden="true"></i>
  </button>
</aside>
